.nav-display {
    position: absolute;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0px 6px 59px rgba(53, 49, 84, 0.08);
    top:0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    transition: 300ms all ease-in-out;

    .link {
        display: flex;
        flex-direction: column;
        
        section {
            margin: auto;
            display: flex;
            justify-content: center;
            a {
                margin: auto;
                margin-left: 10px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        a { 
            color: rgba(84, 65, 175, .9);
            text-decoration: none;
            margin-top: 10px;
            font-family: 'Open Sans', sans-serif;
            transition: 300ms all ease-in-out;
            text-align: center;

            &:hover, &:focus-within, &:focus {
                color: #FF353A;
            }
        }
    }
    .icon {
        // background: red;
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            color: black;
            padding: 14px;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
        }
    }
    
}
