@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* { font-family: 'Montserrat', sans-serif; box-sizing: border-box; margin: 0;}
.container-fluid {
    max-width: 1120px;
    margin: auto;
}
@import 'nav', 'banner', 'card'

